/* Add this to your ProductView.module.css or a relevant CSS file */
.searchContainer {
  margin-bottom: 20px; /* Adjust space as needed */
}

.scrollContainer {
  border:none;
  border-top: 3px dashed orange; /* Orange dotted line */
  
  padding-top: 20px; /* Space between the line and the content */
}
