/* styles/ProductGrid.module.css */
.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;
  }
  
  .gridItem {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
   
    text-align: center;
  }
  
  .gridImage {
    width: 100%;
    max-height: 300px;
    display: block;
  }
  
  .buttonWrapper {
    text-align: center;
    margin-top: 16px;
    padding: 16px;
    right:20px;
  }
  