.formContainer {
  width: 100%;
}

.inputGroup {
  margin-bottom: 1rem;
}

.categorySection {
  width: 100%;
  font-weight: 500;
}

.categoryTitle {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: black; /* Set text color to black */
}

.categoryGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
  max-height: 50vh;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .categoryGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.colSpan {
  grid-column: span 1;
}

.colorSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.colorTitle {
  font-weight: 700;
  color: black; /* Set text color to black */
}

.colorDescription {
  font-size: 0.875rem;
  color: black; /* Set text color to black */
  position: relative;
  transition: all 0.15s ease;
  transform-origin: 0;
}

.colorGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
}

.button {
  margin-top: 1rem;
}

/* New styles for scaling transition similar to textarea label */
.categoryGrid input:focus ~ .categoryTitle,
.categoryGrid input:not(:placeholder-shown) ~ .categoryTitle,
.colorSection input:focus ~ .colorTitle,
.colorSection input:not(:placeholder-shown) ~ .colorTitle {
  transform: translateY(-0.75rem) scale(0.75);
}
