.categoryList {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
  list-style-type: none;
  background-color: #f8f8f8;
  margin: 0;
}

.categoryItem {
  position: relative;
}

.categoryButton,
.subCategoryButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  transition: border-bottom 0.3s ease;
}

.selected {
  border-bottom: 2px solid black;
  font-weight: bold;
}

.icon {
  margin-right: 5px;
}
